<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ASBillingHours</servlet-name>
        <servlet-class>rva.administrator.ASBillingHours</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ASMissValues</servlet-name>
        <servlet-class>rva.administrator.ASMissValues</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ASRepFileUpload</servlet-name>
        <servlet-class>rva.administrator.ASRepFileUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ASReportGen</servlet-name>
        <servlet-class>rva.administrator.ASReportGen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DTTMissedValues</servlet-name>
        <servlet-class>rva.administrator.DTTMissedValues</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DTTRepFileUpload</servlet-name>
        <servlet-class>rva.administrator.DTTRepFileUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnvysionPerformanceUpdate</servlet-name>
        <servlet-class>rva.administrator.EnvysionPerformanceUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QLRvaAttandance</servlet-name>
        <servlet-class>rva.scheduletasks.QLRvaAttandance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ASCheckList</servlet-name>
        <servlet-class>rva.showperformance.ASCheckList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ASQACheckList</servlet-name>
        <servlet-class>rva.showperformance.ASQACheckList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DTTPerformanceResults</servlet-name>
        <servlet-class>rva.showperformance.DTTPerformanceResults</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DTTResults</servlet-name>
        <servlet-class>rva.showperformance.DTTResults</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnvysionResults</servlet-name>
        <servlet-class>rva.showperformance.EnvysionResults</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetelResults</servlet-name>
        <servlet-class>rva.showperformance.RetelResults</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AsQaCountProcess</servlet-name>
        <servlet-class>rva.taskinsert.AsQaCountProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DTTCountSheet</servlet-name>
        <servlet-class>rva.taskinsert.DTTCountSheet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnvysionCount</servlet-name>
        <servlet-class>rva.taskinsert.EnvysionCount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetelLog</servlet-name>
        <servlet-class>rva.taskinsert.RetelLog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>rva.userlogin.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>rva.userlogin.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>rva.userlogin.Registration</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ASBillingHours</servlet-name>
        <url-pattern>/ASBillingHours</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ASMissValues</servlet-name>
        <url-pattern>/ASMissValues</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ASRepFileUpload</servlet-name>
        <url-pattern>/ASRepFileUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ASReportGen</servlet-name>
        <url-pattern>/ASReportGen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DTTMissedValues</servlet-name>
        <url-pattern>/DTTMissedValues</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DTTRepFileUpload</servlet-name>
        <url-pattern>/DTTRepFileUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnvysionPerformanceUpdate</servlet-name>
        <url-pattern>/EnvysionPerformanceUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QLRvaAttandance</servlet-name>
        <url-pattern>/QLRvaAttandance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ASCheckList</servlet-name>
        <url-pattern>/ASCheckList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ASQACheckList</servlet-name>
        <url-pattern>/ASQACheckList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DTTPerformanceResults</servlet-name>
        <url-pattern>/DTTPerformanceResults</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DTTResults</servlet-name>
        <url-pattern>/DTTResults</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnvysionResults</servlet-name>
        <url-pattern>/EnvysionResults</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetelResults</servlet-name>
        <url-pattern>/RetelResults</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AsQaCountProcess</servlet-name>
        <url-pattern>/AsQaCountProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DTTCountSheet</servlet-name>
        <url-pattern>/DTTCountSheet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnvysionCount</servlet-name>
        <url-pattern>/EnvysionCount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetelLog</servlet-name>
        <url-pattern>/RetelLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
